@charset "utf-8";
/* CSS Document */
::selection {color:#666;}
::-moz-selection {color:#666;}
#jpreBar, .sliding-menu a span , .swiper-nav,  .nav-social li a:before , .project-list li a:before , .project-list li a:after , .arthref  , #list_close , .project-list ul:before  , .gallery-filters a:before , .info-details ,  a.link-content , #contact-form input[type="submit"] , .contact-info a:before , .error_message , #success_page p ,.widgets-holder   , .post-tags li a , .controls button , .popup-link:before , #audio-player , #body-copyright  , .filter-button , .black-colr  ,  .back-link { 
	background:#FFF;
}
.loader span, #jpreBar {
	background: #666;
}

.page-title h3 a:hover {
	color:#000;
}

.about-subpage h3 a, .blog-subpage h3 a, .blog-single-subpage h3 a, .portfolio-subpage h3 a, .portfolio-single-subpage h3 a, .contact-subpage h3 a {
	color: #666;
}

.contact-footer li a, .blog-single-footer li a, blog-single-footer li a {
	color: #666;
}

footer ul li a:hover {
	color: #666;
}
.slides-counter li  , .mfp-counter{
	color:#FFF;
}