.contact-info {
	float:left;
	width:100%;
	margin-top:20px;
}
.contact-info li {
	float:left;
	width:100%;	
}
.contact-info a {
	float:left;
	padding:10px 0;
	color: #666;
	font-size: 13px;
	font-weight: 500;
	line-height: 30px;
	position:relative;
	letter-spacing: 4px;
	text-transform:uppercase;
	text-align:left;
}
.contact-info a:before {
	content:'';
	position:absolute;
	bottom:0;
	left:0;
	height:100%;
	z-index:-1;
	width:0;
	-webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear;
}
.contact-info a:hover:before {
	width:100%;
}
#contact-form {
	width:100%;
	float:left;
	margin-top:30px;
}	
#contact-form input[type="text"] , #contact-form textarea {
	float:left;
	width: 100%;
	background:none;
	margin-bottom:20px;
	font-size: 12px;
	height:50px;
	border-radius: none;
	position:relative;
	z-index:20;
	padding-left:8px;
	color:#000;
	border:0;
	border-bottom:1px solid #666;
	-webkit-appearance: none;
	font-family: 'Playfair Display', serif; 
}		
#contact-form textarea {
	height:170px;
	resize:none;
	overflow: auto;
	background:none;
	overflow: auto;
	box-shadow: none;	
}	
#contact-form input[type="submit"]	{
	float:left;
	border:1px solid #666;
	text-transform:uppercase;
	padding:15px 30px;
	line-height:14px;
	cursor:pointer;
	letter-spacing:2px;
	font-weight:400;
	font-size:13px;
	color:#666;
	letter-spacing:2px;
	text-transform:uppercase;
	-webkit-appearance: none;
	font-family: 'Playfair Display', serif;
}
#contact-form input[type="submit"]:hover{
	background:#000;
	color:#fff;
}	
.error_message {		
	text-align:left;		
	font-size:13px;
	max-width:450px;
	position:relative;
	font-family: 'Playfair Display', serif;
	padding:10px;						
}	
#success_page h3{		
	font-family: 'Playfair Display', serif;
	text-align:left;
	font-size:18px;	
}		
#success_page p {				
	margin-top:10px;
	font-family: 'Playfair Display', serif;
	text-align:left;
	padding:6px 6px 6px 0;
	color:#000;		
}	
#message fieldset {		
	border:none;	
}