@media only screen and  (max-width: 1036px) {
    .kinekt-wrapper , .no-kinekt {
        width:100%;
        padding:100px 0 60px 0;			
    }
    .no-kinekt {
        padding-top:0;				
    } 	
    .fixed-filters {
        position:absolute;
        z-index:8;
        background:#fff;
        right:50px;
        display:none;
        width:150px;
        top:130px;
        height: auto;
        padding-left:0;
        padding:10px;
        display:none;
    }
    .fixed-filters a {
        font-size:10px;
        margin-bottom:10px;
        text-align:center;
        float:none;
        display:block;
    }
    .fixed-filters a span {
        padding-right:0;
    }
    .count-folio {
        margin-top:20px;
    }
    .vis-filter {
        display:block;
    }
    .filter-button {
        width: 110px;
        padding: 6px 10px;
        display: block;
        position:relative;
        z-index:20;
        float:right;
        margin:90px 50px 0 0;
        cursor:pointer;
        color:#666;
        font-size:14px;
        text-transform: uppercase;
        font-family: 'Playfair Display', serif;
        font-weight: 400;
        letter-spacing: 6px;
        transform: rotate(-90deg);
    }	
    
    .right-colum {
        padding-right:0;
        padding-top:0;
        z-index:21;
        width:100%;
        float:left;
    }
    .left-colum {
        position:relative;
        z-index:20;
        border: none;
        border:30px solid #fff;
        border-top:80px solid #fff;
        right:0;
        width:100%;
        float: left;
        height: auto;
        padding:250px 0;
    }
    .right-colum .container {
        padding:0;
        top:0;
    }
    .link-content {
        margin-bottom:30px;
    }
    .right-colum-wrapper , .right-colum .container ,  #project-gallery  {
        padding:0;
    }
    .count-folio div.num-album {
         font-size:18px;
        left:-54px;
        top:32px;
    }
    
    @media only screen and  (max-width: 756px) {
    .gallery-item,.grid-sizer , .four-coulms .gallery-item , .four-coulms .grid-sizer , .three-coulms .gallery-item , .three-coulms .grid-sizer {
      width: 50%;
    }
    .btn-menu-wrapper{
        margin:30px 20px 0 -6px;
    }
    .logo-holder {
         margin:29px 0 0 20px;
    }
    .content {
        padding:80px 30px 50px;
    } 
    .pagination{
        right:10px;
    }
    .slide-title h3 {
        font-size: 24px;
    }
    .header-overlay {
        background:rgba(255,255,255,1.0);
        z-index:14;
    } 
    .right-colum section {
        margin-top:0;
    }
    footer {
        padding-left:30px;
        background:#fff;
    }
    footer p , .page-title {
        display:none;
    }
    .filter-button {
        margin:24px 30px 0 0;
    }
    .fixed-filters {
        right:30px;
        top:80px;
    }
    .portfolio-options.arrow-left i , .portfolio-options2.arrow-left2 i {
        left:12px;
    }
    .portfolio-options.arrow-right i , .portfolio-options2.arrow-right2 i  {
        right:12px;
    }
    .portfolio-options.arrow-right span , .portfolio-options2.arrow-right2 span , .portfolio-options.arrow-left span , .portfolio-options2.arrow-left2 span {
        font-size:12px;
    }
    article {
        opacity:1 !important ;
        visibility: visible; 
        transform: translateY(0px) scale(1.0); 
         -webkit-transform: translateY(0) scale(1.0); 
        -webkit-perspective: 0; 
        -webkit-backface-visibility: visible ; 
    }
    .blog-pagination {
        margin-top:0;
        padding-bottom: 0;
    }
    .blog-header {
        left:30px;
    }
    .blog-header:before {
        right:-10px;
        width:70px;
    }
    .top-title {
        position:absolute;
        padding-right:30%;
        -webkit-transform: translate3d(0,0,0);
        z-index:1	
    }
    .top-title-text {
        position:absolute;
        top:10%;
        left:10px;
        -webkit-transform: translate3d(0,0,0);
        z-index:2;
        text-align:left;
    }
    .top-title-text  h2{
        font-size:25px;
    }
    .top-title-text p{
        font-size:10px;
    }
    #comments-blog {
         padding:0 0 60px 0;
    }
    .media-container:before , .media-container:after {
        width:30px;
    }
    .single-title .slide-title {
         left:-30px;
    } 
    }
    @media only screen and  (max-width: 540px) {
     .gallery-item, .grid-sizer  , .services-img , .services-info ,.four-coulms .gallery-item , .four-coulms .grid-sizer , .three-coulms .gallery-item , .three-coulms .grid-sizer{
      width: 100%;
    }
    .services-info {
        padding-left:0;
        margin-top:20px;
    }
    .portfolio-options.call-info {
        top:120px;
        left:30px; 
    }
    .slides-counter {
        display:none;
    }
    }
    @media only screen and (-webkit-min-device-pixel-ratio: 2) {
    .bg {
        background-attachment: scroll !important;
        -webkit-background-size:cover;
        background-position:center;
    }
    }