@import url('https://fonts.googleapis.com/css?family=Cinzel:400,700,900|Playfair+Display:400,400i,700,900&subset=latin-ext');

$fontPlayfair: 'Playfair Display', serif;
$fontCinzel:'Cinzel', serif;

h1, h2, h3, h4, h5, h6 {
    font-family: $fontPlayfair;
}

p {
    font-family: $fontPlayfair;
}